#Card{
    text-align: left;
    margin: 20px;
    margin-bottom: 80px;
    font-size: 50px; 
}

#imgMain{
    margin-bottom: 40px;
}

#authorDiv label{
    font-size: 40px;
    text-decoration: underline;
}

#tagsDiv label{
    font-size: 40px;
    text-decoration: underline;
}