
#divbody2{
    height: calc(100% - 140px);
}

#divMenuG{
    height: 37px;
}
#divGallery{
    height: calc(100% - 37px);
    width: 100%;
    overflow: hidden;
}

.framework{
    position: relative;
    width: 100%;
    height: 100%;
}

.framework img{
    position: absolute;
}