html{
    height: 100%;
}

body{
    background-color: #17212b;
    color: whitesmoke;
    height: 100%;
}

#headboard {
    background-color: cornflowerblue;
    height: 140px;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 1000000;
}

#headboard p{
    display: inline-block;
    float: right;
    margin: 50px 20px auto auto;
    font-size: 30px;
}

#btnMenu{
    height: 100%;
}

#mainHeadIcon{
    position: absolute;
    top: 5px;
    left: 45%;
    right: 45%;
}

#leftMenu{
    position: fixed;
    width: 50%;
    min-width: 400px;
    height: auto;
    background-color: white;
    top:140px;
    z-index: 1000000;
    text-align: center;
    color: black;
    font-size: 60px;
}

#leftMenu li:hover{
    background-color: #5eb3f3;
}

#divbody{
    height: 100%;
    object-fit: cover;
}

.importantText{
    color: #5eb3f3;
}


.isclickable{
    cursor: pointer;
}

.center{
    margin-left: 50%;
    transform: translateX(-50%);
}

/*----Botones file estilo botones normales*/
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;   
	cursor: inherit;
	display: block;
}
/*End ----Botones file estilo botones normales*/

.vertical-scroll{
    overflow-y:scroll;
}