
#mainGrid{
    margin: 10px;
}

#mainGrid table{
    width: 100%;
}

#tableCardsBody tr{
    display: grid;
    grid-template-columns: auto auto;
}


.card {
    background: #2b5278;
    margin: 10px 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    min-height: 200px;
}

.card img{
    width: 100%;
    height: auto;
}

.card p{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-size: 45px;
    text-align: center;
    width: 100%;
    background: #000000d0;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    margin-bottom: 0px;
}

.card:hover {
    top: -2px;
}

#notCardsText{
    padding-top: 100px;
}

#loadImg{
    margin-top: 40px;
}

#searchDiv{
    width: 60%;
    margin: 20px auto 0px auto;
    float: right;
}
#searchDiv input{   
    margin-top: 15px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 6px;
    height: 45px;
    vertical-align:middle;
    float: right;
    width: 50%;
    display: inline;
}
#searchDiv img{   
    display: inline;
    float: right;
}

#filtersearchDiv{
    width: 100%;
    margin: 20px auto 40px auto;
    float: right;
}

#filtersearchDiv input{
    vertical-align:middle;
    float: right;
    display: inline;
    margin: 5px;
    font-size: 30px;
}


#filtersearchDiv input[class*="btn-primary"]{
    background-color: cornflowerblue;
}