#formCard p{
    font-size: 20px;
    margin: 20px auto 0px auto;
}

#formCard input[type=text]{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 6px;
    height: 45px;
    vertical-align:middle;
    display: inline;
}

textarea{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 6px;
    vertical-align:middle;
    display: inline;
}

#formCard input[type=button]{
    margin: 10px auto
}

#inputTags label{
    margin-right: 20px;
}

#tableCardsBody,#tableWantedsBody{
    color: whitesmoke;
}

#btn-wantedSave{
    margin: 20px auto;
}

#inputNewTag{
    width: 40% !important;
}

#serachTableCard{
    float: right;
    margin: auto 40px 40px auto;
    vertical-align:middle;
    font-size: 30px;
}